// custom SCSS (or CSS) goes here

h4 {
  font-size: 1.1em !important;
  text-transform: none !important;
  letter-spacing: normal !important;
  font-weight: 600 !important;
  margin-top: 1.5em !important;
  margin-bottom: 0.5em !important;
}
